.Tempwrapper{
    background: #000000d0;
    color: white;
    padding: 8rem 6rem;
    opacity: 0.9;
    border-radius: 15px;
}
.Tempwrapper h2{
    font-size: 35px;
    margin-bottom: 15px;
    font-weight: 900;
}

.Tempwrapper input {
    width: 90%;
    padding: 7px 15px;
    outline: none;
    border-radius: 20px;
    margin-bottom: 15px;
}